<div class="home-container">
    <section class="hero text-center">
      <div class="hero-header d-flex align-items-center justify-content-center">
        <img src="nodalityLogo.png" alt="Nodality Logo" class="logo" />
        <h1 class="hero-title">Welcome to Nodality</h1>
      </div>
      <p class="hero-description">Themes & Nodes to Make Your Experience Easier</p>
    </section>
  
    <section class="features">
      <div class="features-grid">
        <div class="feature-card">
          <img src="theme.png" alt="Hosting Icon" class="feature-icon" />
          <h3>Themes</h3>
          <p>Create and manage themes.</p>
          <button class="btn btn-primary">Explore Themes</button>
        </div>
  
        <div class="feature-card">
          <img src="nodes.png" alt="Themes Icon" class="feature-icon" />
          <h3>Nodes</h3>
          <p>Explore and customize nodes.</p>
          <button class="btn btn-primary" (click)="navigateToNodes()">Explore Nodes</button>
        </div>
  
        <div class="feature-card">
          <img src="connect.png" alt="Genesis Icon" class="feature-icon" />
          <h3>Connections</h3>
          <p>Connect with everyone around the world and share your nodes now!</p>
          <button class="btn btn-primary">Start now</button>
        </div>
      </div>
    </section>
  </div>
  